{% extends "layouts/base.html" %}

{% block title %} {{title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="section section-lg pt-6 pt-md-7 bg-soft d-flex justify-content-center">
    <div class="col-md-4 ">
        <div class="card ">
            <div class="card-header bg-secondary text-white">
                <h4 class="card-title">Categorias</h4>
                <p class="card-category float-left">Tabela de categorias cadastradas</p>
                <a type="submit" class="btn btn-danger float-right" data-toggle="modal" title="Adicionar categorias"
                    data-target="#modal-form">Adicionar</a>
            </div>
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Cadastrar Categoria</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body p-0">
                            <div class="card bg-soft shadow-md border-0">
                                <div class="card-body bg-secondary text-white">
                                    <form action="{{url_for('addCategory')}}" class="mt-4" method="POST">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <input class="form-control" id="category" name="category"
                                                    placeholder="Nome categoria:" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-block btn-white">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cat in category %}
                        <tr>
                            <th scope="row">{{loop.index }}</th>
                            <td>
                                <div class="d-flex align-items-center">
                                    {{cat.name}}
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a type="submit" class="fas fa-edit mr-3" data-toggle="modal" title="Edit item"
                                        data-target="#modal-edit-{{cat.id}}"></a>
                                    <div class="modal fade" id="modal-edit-{{cat.id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="modal-form" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Alterar Categoria - {{cat.id}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                </div>
                                                <div class="modal-body p-0">
                                                    <div class="card bg-soft shadow-md border-0">
                                                        <div class="card-body bg-secondary text-white">
                                                            <form action="{{url_for('alterCategory',id=cat.id)}}" class="mt-4"
                                                                method="POST">
                                                                <div class="form-group">
                                                                    <div class="input-group mb-4">
                                                                        <input class="form-control" id="category"
                                                                            name="category"
                                                                            placeholder="Nome categoria:" required=""
                                                                            type="text" value="{{cat.name}}">
                                                                    </div>
                                                                </div>
                                                                <div class="mt-3">
                                                                    <button type="submit"
                                                                        class="btn btn-block btn-white">Alterar</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a type="submit" class="fas fa-trash text-danger mr-2" data-toggle="modal"
                                        title="Delete item" data-target="#modal-delete-{{cat.id}}"></a>
                                    <div class="modal fade" id="modal-delete-{{cat.id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="modal-form" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modal-delete-{{cat.id}}">
                                                        Deletar - {{cat.id}} {{cat.name}}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span class="text">Deseja realmente deletar a marca?</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <form action="{{url_for('deletCategory',id=cat.id)}}" method="POST">
                                                        <button type="submit" class="btn btn-danger">
                                                            Deletar
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}