{% extends "layouts/base.html" %}

{% block title %} {{title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .hide {
        display: none;
    }

    .result {
        position: absolute;
        width: 100%;
        max-width: 920px;
        cursor: pointer;
        overflow-y: auto;
        max-height: 400px;
        box-sizing: border-box;
        z-index: 1001;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="section section-lg pt-6 pt-md-7 bg-soft d-flex justify-content-center">
    <div class="col-md-4 ">
        <div class="card ">
            <div class="card-header bg-secondary text-white">
                <h4 class="card-title">Doações</h4>
                <p class="card-donation float-left">Tabela de doações cadastradas</p>
                <a type="submit" class="btn btn-danger float-right" data-toggle="modal" title="Adicionar doação"
                    data-target="#modal-form">Adicionar</a>
            </div>
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Cadastrar Doações</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="card bg-soft shadow-md border-0">
                                <div class="card-body bg-secondary text-white">
                                    <form action="{{url_for('addDonation')}}" class="mt-4" method="POST">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <input class="form-control" id="donation" name="donation"
                                                    placeholder="Nome item:" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-block btn-white">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donation in donations %}
                        <tr>
                            <th scope="row">{{loop.index }}</th>
                            <td>
                                <div class="d-flex align-items-center">
                                    {{donation.name}}
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a type="submit" class="fas fa-edit mr-3" data-toggle="modal" title="Edit item"
                                        data-target="#modal-edit-{{donation.id}}"></a>
                                    <div class="modal fade" id="modal-edit-{{donation.id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="modal-form" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Alterar Doação - {{donation.name}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body p-0">
                                                    <div class="card bg-soft shadow-md border-0">
                                                        <div class="card-body bg-secondary text-white">
                                                            <form action="{{url_for('alterDonation',id=donation.id)}}" class="mt-4"
                                                                method="POST">
                                                                <div class="form-group">
                                                                    <div class="input-group mb-4">
                                                                        <input class="form-control" id="donation" name="donation" laceholder="Nome donation:" required=""
                                                                            type="text" value="">
                                                                    </div>
                                                                </div>
                                                                <div class="mt-3">
                                                                    <button type="submit"
                                                                        class="btn btn-block btn-white">Alterar</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a type="submit" class="fas fa-trash text-danger mr-2" data-toggle="modal"
                                        title="Delete item" data-target="#modal-delete-{{donation.id}}"></a>
                                    <div class="modal fade" id="modal-delete-{{donation.id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="modal-form" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modal-delete-">
                                                        Deletar - {{donation.name}}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span class="text">Deseja realmente deletar o item?</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <form action="{{url_for('deletDonation',id=donation.id)}}" method="POST">
                                                        <button type="submit" class="btn btn-danger">
                                                            Deletar
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}