{% extends "layouts/base.html" %}

{% block title %} {{title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .page-title {
        text-align: center;
        color: #FFFFFF;
        font-weight: 100;
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .ticket-card {
        margin-top: 1vh;
        margin-bottom: 15vh;
        background: #FFFFFF;
        border-radius: 4px;
    }

    .ticket-card:hover .cover img,
    .ticket-card.active .cover img {
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        -ms-transform: translate(0, -50px);
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
        box-shadow: 0 10px 20px -4px rgba(22, 22, 22, 0.5);
    }

    .ticket-card .cover {
        border-radius: 4px 4px 0 0;
        position: relative;
        margin: 15px;
    }

    .ticket-card .cover img {
        width: 100%;
        position: relative;
        z-index: 2;
        margin-top: -30px;
        box-shadow: 0 10px 16px -6px rgba(22, 22, 22, 0.5);
        border-radius: 4px;
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
    }

    .ticket-card .cover .info {
        position: absolute;
        width: 100%;
        bottom: 0px;
        padding: 0 15px;
        color: #777777;
    }

    .ticket-card .cover .info .going,
    .ticket-card .cover .info .tickets-left {
        padding-bottom: 10px;
        border-bottom: 1px solid #f3f3f3;
        width: 50%;
    }

    .ticket-card .cover .info .going {
        float: left;
    }

    .ticket-card .cover .info .tickets-left {
        float: right;
        text-align: right;
    }

    .ticket-card .cover .info .fa {
        color: #CCCCCC;
        margin-right: 5px;
    }

    .ticket-card .artist {
        float: left;
    }

    .ticket-card .artist .info {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: #BBBBBB;
        margin-bottom: 0;
    }

    .ticket-card .artist .name {
        font-weight: 200;
        font-size: 22px;
        margin-top: 5px;
    }

    .ticket-card .ticket {
        float: left;
    }

    .ticket-card .ticket small {
        font-size: 75%;
    }

    .ticket-card .price {
        float: right;
        text-align: right;
    }

    .ticket-card .price .from {
        color: #BBBBBB;
    }

    .ticket-card .price .value {
        font-size: 28px;
        font-weight: 200;
        color: #00bbff;
        margin-top: -5px;
    }

    .ticket-card .price .value b {
        font-size: 18px;
        font-weight: 200;
    }

    .ticket-card .list-unstyled {
        max-height: 350px;
        overflow-x: scroll;
        background: #EEEEEE;
        margin-bottom: 0;
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .ticket-card .list-unstyled li {
        border-bottom: 1px dotted #CCCCCC;
        padding: 5px 30px;
        overflow: hidden;
        width: 100%;
        display: block;
        position: relative;
    }

    .ticket-card .list-unstyled li .btn-buy {
        position: absolute;
        right: 15px;
        top: 13px;
        padding: 8px 20px;
        border-radius: 6px;
        border: 0;
        opacity: 0;
        -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
        transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
    }

    .ticket-card .list-unstyled li:hover .btn-buy {
        opacity: 1;
    }

    .ticket-card .list-unstyled li:last-child {
        border-bottom: none;
    }

    .ticket-card .list-unstyled li:before,
    .ticket-card .list-unstyled li:after {
        display: table;
        content: " ";
        clear: both;
    }

    .ticket-card .list-unstyled li .price .value {
        color: #444444;
        font-size: 22px;
        margin-top: 10px;
    }

    .ticket-card .body {
        padding: 5px 30px;
    }

    .ticket-card .body .info {
        color: #777777;
    }

    .ticket-card .body .location,
    .ticket-card .body .date {
        padding-top: 10px;
        width: 50%;
    }

    .ticket-card .body .location {
        float: left;
    }

    .ticket-card .body .date {
        float: right;
        text-align: right;
    }

    .ticket-card .body .fa {
        color: #CCCCCC;
        margin-right: 5px;
    }

    .ticket-card .footer .btn {
        width: 100%;
        background: transparent;
        border-top: 1px dotted #BBBBBB;
        border-radius: 0;
        padding: 15px 8px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #666666;
        box-shadow: none;
    }

    .ticket-card .footer .btn:focus,
    .ticket-card .footer .btn:hover,
    .ticket-card .footer .btn:active {
        outline: none !important;
    }

    .img-responsive {
        height: 550px;
    }

    @media (max-width: 975px) {
        .img-responsive {
            height: 200px;
        }

    }

    .hide {
        display: none;
    }

    .result {
        position: absolute;
        width: 100%;
        max-width: 920px;
        cursor: pointer;
        overflow-y: auto;
        max-height: 400px;
        box-sizing: border-box;
        z-index: 1001;
    }

    .header {
        position: relative;
        text-align: center;
        background: linear-gradient(60deg, #1c2540 0%, #1c2540 100%);
        color: white;
    }

    .logo {
        width: 50px;
        fill: white;
        padding-right: 15px;
        display: inline-block;
        vertical-align: middle;
    }

    .inner-header {
        height: 65vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .flex {
        /*Flexbox for containers*/
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px;
        /*Fix for safari gap*/
        min-height: 100px;
        max-height: 150px;
    }

    .content {
        position: relative;
        height: 20vh;
        text-align: center;
        background-color: white;
    }

    /* Animation */

    .parallax>use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }

    .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }

        100% {
            transform: translate3d(85px, 0, 0);
        }
    }

    @media (max-width: 768px) {
        .waves {
            height: 40px;
            min-height: 40px;
        }

        .content {
            height: 30vh;
        }

        h1 {
            font-size: 24px;
        }
    }

    .teste {
        width: 367px;
    }

    .table-tickets {
        position: relative;
        top: -41px;
        z-index: 1000;
        margin-bottom: -5000px;
    }
</style>
{% endblock stylesheets %}
{% block content %}
<section class="section-header bg-dark">


</section>
<div class="header">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>
</div>
<div class="container mt-lg-n12 z-2 ">
    <div class="card bg-white border-light flex-lg-row align-items-center g-0 ">
        <img class="img-responsive d-block rounded" src="static/images/eventos.jpg" alt="Third slide">
    </div>
    <div class="btn-wrapper my-4 text-center">
        <button class="btn btn-icon-only btn-pill btn-facebook" type="button" aria-label="facebook button"
            title="facebook button">
            <span aria-hidden="true" class="fab fa-facebook"></span>
        </button>
        <button class="btn btn-icon-only btn-pill btn-facebook" type="button" aria-label="facebook button"
            title="facebook button">
            <span aria-hidden="true" class="fab fa-facebook"></span>
        </button>
        <button class="btn btn-icon-only btn-pill btn-facebook" type="button" aria-label="facebook button"
            title="facebook button">
            <span aria-hidden="true" class="fab fa-facebook"></span>
        </button>
    </div>
    <div class="container ">
        <div class="row float-right">
            <div class="table-tickets teste">
                <div class="col-lg-12 col-md-12 ">
                    <div class="ticket-card border shadow">
                        <div class="body">
                            <div class="artist">
                                <h4 class="name">{{nome}}</h4>
                            </div>
                            <div class="clearfix"></div>
                            <div class="info">
                                <p class="location">
                                    <i class="fa fa-map-marker"></i> {{cidade}} ,{{estado}}
                                </p>
                                <p class="date">
                                    {% if start_date == end_date %}
                                    <i class="fa fa-calendar"></i> {{start_date.strftime('%a, %b %d %M')}}
                                    {% else %}

                                    <i class="fa fa-calendar"></i> {{start_date.strftime('%d
                                    %b')}}>{{end_date.strftime('%Y-%m-%d') }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="collapse">
                            <ul class="list-unstyled">
                                {% for tic in ticket %}
                                <li>
                                    <div class="ticket">
                                        <h5>{{tic.name}}<b>
                                            <small class="badge badge-danger ml-1">{{tic.type}}</small></b><br>
                                            <small>{{tic.amount}} Ingressos disponiveis</small>
                                        </h5>
                                    </div>
                                    <div class="price">
                                        {% if tic.type =='Pagos' %}
                                        <div class="value"><b>R$</b>{{tic.price}}</div>
                                        {% else %}
                                        <div class="value">{{tic.donation_id}}</div>
                                        {% endif %}
                                    </div>
                                    <a href="#" class="btn btn-primary btn-sm btn-buy">Contribuir</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="footer">
                            <button class="btn toggle-tickets">Mostrar Ingressos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section section-lg ">
    <div class="container">
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <h1 class="event-name">
                Curso de BARRAS DE ACCESS </h1>
            <div class="row">
                <div class="col-md-12">
                    <div white-space="nowrap" class="far fa-clock"> </div>
                    <span>23 de maio de 2021, 09h-19h</span>
                </div>
                <div class="col-md-12">
                    <a
                        href="https://www.google.com/maps/search/Rua Ablio Soares, 607, Paraso, So Paulo, SP, 04005-002,BRASIL">
                        <div white-space="nowrap" class="fas fa-map-marker-alt"></div>
                        <span>23 de maio de 2021, 09h-19h </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid bg-gray-200">
    <div class="container bg-gray-200">
        <div class=" col-lg-8">            
            <div class="row">
                <h4 class="text-left lead mt-3  "> Descrição do evento </h4>
                <p class="text-justify">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                    sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os
                    embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos,
                    como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se
                    popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e
                    mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus
                    PageMaker.</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class=" col-lg-8">             
        <div class="row">
            <h4 class="text-left lead mt-3  "> Sobre o organizador </h4>
            <p class="text-justify">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os
                embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos,
                como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se
                popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e
                mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus
                PageMaker.</p>   

                <div class="mb-2">
                    <button class="btn btn-primary" type="button">Falar com o organizardor</button>                   
                </div>        
        </div>
      
    </div>
</div>



{% endblock content %}

{% block javascripts %}
<script>

    $('.toggle-tickets').click(function () {
        $tickets = $(this).parent().siblings('.collapse');

        if ($tickets.hasClass('in')) {
            $tickets.collapse('hide');
            $(this).html('Show Tickets');
            $(this).closest('.ticket-card').removeClass('active');
        } else {
            $tickets.collapse('show');
            $(this).html('Hide Tickets');
            $(this).closest('.ticket-card').addClass('active');
        }
    });
    window.addEventListener('scroll', () => {
        const scrollable = document.documentElement.scrollHeight - window.innerHeight;
        const scrolled = window.scrollY;

        if (Math.ceil(scrolled) >= 627) {
            $(".table-tickets").css({ "width": "367px", "left": "1102.33px", "position": "fixed", "top": "0px" });
        } else {
            $(".table-tickets").removeAttr('style');
        }
    })
</script>
{% endblock javascripts %}