{% extends "layouts/base.html" %}

{% block title %} {{title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    .hide {
        display: none;
    }

    .result {
        position: absolute;
        width: 100%;
        max-width: 920px;
        cursor: pointer;
        overflow-y: auto;
        max-height: 400px;
        box-sizing: border-box;
        z-index: 1001;
    }
</style>

{% endblock stylesheets %}

{% block content %}

<section class="section-header bg-dark pb-9 pb-lg-10 text-white " id="hide_search">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <h1 class="mb-3">Encontre Eventos</h1>

                <h6 class="h6 text-muted font-weight-normal mt-5 ml-auto float-left">397 Eventos Encontrados</h6>

                <div class="row justify-content-sm-center align-items-center py-3 mt-3 float-right">
                    <div class="col-12 col-lg-12">

                        <div class="modal fade" id="modal-filter" tabindex="-1" role="dialog"
                            aria-labelledby="modal-filter" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title">Terms of Service</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>With less than a month to go before the European Union enacts new
                                            consumer privacy laws for its citizens, companies around the world
                                            are updating their terms of service agreements to comply.</p>
                                        <p>The European Union’s General Data Protection Regulation (G.D.P.R.)
                                            goes into effect on May 25 and is meant to ensure a common set of
                                            data rights in the European Union. It requires organizations to
                                            notify users as
                                            soon as possible of high-risk data breaches that could personally
                                            affect them.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="overflow-x:auto;">
                            <div class="table-responsive table-borderless">
                                <table class="table">

                                    <tr>
                                        <th>
                                            <h6 class="text-muted  font-weight-normal  d-inline mb-0 mr-3">Filtrar Por:
                                            </h6>
                                        </th>
                                        <th>
                                            <button class="btn btn-pill btn-outline-white mb-2   mr-1" data-toggle="modal"
                                                data-target="#modal-filter" type="button"><span
                                                    class="fas fa-angle-down dropdown-arrow mt-1 ml-1 float-right text-info "></span>Relevancia</button>

                                            <button class="btn btn-pill btn-outline-white mb-2  mr-1" type="button"><span
                                                    class="fas fa-angle-down dropdown-arrow mt-1 ml-1 float-right text-info "></span>Categoria</button>

                                            <button class="btn btn-pill btn-outline-white mr-1 mb-2 "
                                                type="button text-info "><span
                                                    class="fas fa-angle-down dropdown-arrow mt-1 ml-1 float-right text-info "></span>Preço</button>

                                            <button class="btn btn-pill btn-outline-white mb-2 " type="button "><span
                                                    class="fas fa-angle-down dropdown-arrow mt-1 ml-1 float-right text-info "></span>Data</button>
                                        </th>
                                        </th>

                                    </tr>


                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pattern bottom"></div>
</section>

<section class="section section-md pb-0 " id="hide_search">
    {% if events %}
    <div class="container z-2 mt-n9 mt-lg-n10">
        <h6 class="text-white  font-weight-normal  d-inline mb-0 mr-2">Ordenar por:</h6>
        <button class="btn btn-pill btn-outline-white " type="button"><span
                class="fas fa-angle-down dropdown-arrow mt-1 ml-1 float-right text-info "></span>Relevancia</button>
        <div class="row mt-3">
            {% for a in range(1, 10)%}
            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-3">
                <a href="./support-topic.html" class="card text-center border-light animate-up-4">
                    <img class="card-img-top rounded-top" src="static/images/f7b34c07324a7600a95c.png"
                        alt="Card image cap" style="height: 135px; ">
                    <div class="card-body ">
                        <small class="d-block mb-2 text-danger">January 20, 2019</small>
                        <h6 class="text-gray mb-0">Requirements </h6>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-3">
                <div href="" class="card text-center border-light animate-up-3 mb-7">
                    <div class="card-body p-5 m">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4"><span
                                class="fab fa-soundcloud"></span></div>
                        <h6 class="text-gray mb-0">Nenhum Evento Encontrado!</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}